<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beanie Babies!</title>
  </head>
  <body>
    <form action="/mybeaniebuddies" method="post">
      <label for="beanie-name">Enter your Beanie Baby Name</label>
      <input name="beanie-name" type="text">
      <br>
      <label for="beanie-rarity">Enter the rarity level(may not exceed 9000)</label>
      <input name="beanie-rarity" type="text">
      <br>
      <label for="beanie-cost">How much would you pay for a cute lil dude like this?</label>
      <input name="beanie-cost" type="text">
      <br>
      <button type="submit">Add my Lil Beanie Baby Buddy!</button>
    </form>
  </body>
</html>
