<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You Deleted an Item</title>
  </head>
  <body>
    <h1>I can't believe you would do that to @Model! :(</h1>
    <p>but it worked, he gone.</p>
    <button type="button"><a href="/">Home</a></button>
  </body>
</html>
